@charset "UTF-8";

#body {
	
	padding-bottom: 40px;
	padding-top: 40px;
}

#rodape {
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
}

hr {
	border-top: 1px solid black;
}

#imovel {
	padding-bottom: 10px;
}

.cidade-uf {
	font-weight: bold;
	padding-bottom: 10px;
}

#link-imovel {
	display: block;
}

.label {
	font-weight: bold;
}

#galeria {
	background: #d7e0df;
}